<div id="<%= dom_id order %>">
  <p>
    <strong>Product:</strong>
    <%= order.product_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= order.customer_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= order.address_id %>
  </p>

  <p>
    <strong>Shipper:</strong>
    <%= order.shipper_id %>
  </p>

</div>
