<%= form_with(model: push_notification) do |form| %>
  <% if push_notification.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(push_notification.errors.count, "error") %> prohibited this push_notification from being saved:</h2>

      <ul>
        <% push_notification.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div >
      <%= f.label :user %>
      <%= f.select :user, options_for_select(@users.map { |user| [user.email, user.id] }) %>
    </div>


  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_field :body %>
  </div>

  <div>
    <%= form.label :badge, style: "display: block" %>
    <%= form.number_field :badge %>
  </div>

  <div>
    <%= form.label :sound, style: "display: block" %>
    <%= form.text_field :sound %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
