<div id="<%= dom_id push_notification %>">
  <p>
    <strong>Title:</strong>
    <%= push_notification.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= push_notification.body %>
  </p>

  <p>
    <strong>Badge:</strong>
    <%= push_notification.badge %>
  </p>

  <p>
    <strong>Sound:</strong>
    <%= push_notification.sound %>
  </p>

</div>
